:root {
    --width-size-image:300px
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}


.container {
    display: flex;
    height: 100%;
}

/* Left Part */
.image-container {
    display: flex;
    justify-content: center;
    background-image: url(images/backgroundImage.png);
    background-repeat: no-repeat;
    width: 50%;
    background-size: cover;
}

.transparent-box {
    top: 13%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: black;
    opacity: 0.55;
    height: 15%;
    width: 30%;
}

.odin-logo {
    position: relative;
    top: 16%;
    height: 10%;
    width: 20%;
}

.norse-font {
    position: relative;
    top: 16%;
    font-family: 'Norse',sans-serif;
    color: white;
    font-weight: bold;
    font-size: 50px;
    height: 10%;
}




/* Right Part */
.right-container {
    display: flex;
    flex-direction: column;
    padding-left: 6%;
    background-color: #f9fafb;
}

.first-box {
    display: flex;
    padding-top: 10%;
    padding-bottom: 30px;
    
    flex-direction: column;
    gap: 15px;
    padding-bottom: 10%;
}

.fb-text {
    color: black;
    font-size: 20px;
    width: 75%;
    font-weight: bold;
}

.second-box {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}

.form-text {
    color: black;
    font-size: 20px; 
}

/* .form-container {
    display: flex;   
} */

form {
    padding-top: 20px;
    display: flex;
    gap: 50px;
    box-shadow: 10px 10px lightblue;

}

label,input {
    display: block;
}

input {
    border-radius: 7px;
}

input:invalid {
    border-color: red;
  }

input:focus {
    outline: none !important;
    border-color: blue;
    /* box-shadow: 0 0 10px #719ECE; */
}


.form-column {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.label-text {
    color: #36454f;
}